.driver {
  margin-left: 90px;
  margin-top: 40px;
  margin-bottom: 4px;

  &p {
    margin: 0;
  }

  &-information {
    display: flex;
  }

  &-self,
  &-other {
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-right: 24px;
    width: 188px;
    height: 52px;
    border-radius: 10px;
  }

  &-name {
    // width: 232px;
  }

  .mat-input-element {
    width: 232px;
  }
}

.active {
  background-color: #dde4ff;
}

.self-nonactive {
  width: 52px;
}

.other-active {
  width: 92px;
  box-shadow: -4px 5px 20px rgba(180, 177, 177, 0.2);
}
